package layouts

import (
	"portfolio/cmd/web/components"
	"portfolio/internal/models"
)

templ Base(contents templ.Component, data *models.ViewData) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Go Blueprint Hello</title>
			<link href="assets/css/output.css" rel="stylesheet"/>
			<script src="assets/js/htmx.min.js"></script>
		</head>
		<body>
			<main>
				@components.Header(data.IsAuthenticated)
				@contents
			</main>
		</body>
	</html>
}
