package web

templ Home() {
	<div class="dark:bg-gray-900">
		<div class="max-w-screen-xl space-x-5 py-72 justify-center mx-auto flex items-center">
			<img class="rounded-full w-48 h-48" src="https://flowbite.com/docs/images/examples/image-4@2x.jpg" alt="image description"/>
			<div>
				<h1 class="text-6xl font-semibold dark:text-white">Hi I'm Matthew Bennett</h1>
				<p class="text-gray-500 dark:text-gray-400">Lets Connect</p>
			</div>
		</div>
	</div>
}
